.playArea {
  height: 100%;
  width: 100%;
  margin: auto; }

.cross {
  background-image: url(../images/krestik.gif) !important;
  background-repeat: no-repeat;
  background-size: cover; }

#board {
  margin: 0 auto;
  text-align: center;
  padding-top: 10em; }
  #board .btn {
    text-align: center; }
  #board .row .cells {
    cursor: pointer;
    display: inline-block;
    width: 20vmin;
    height: 20vmin;
    font-size: 12em; }
  #board .indication {
    margin-top: 2em;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px; }
